<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Images:</strong>
  <%= @blog.images %>
</p>

<p>
  <strong>Dropdown:</strong>
  <%= @blog.dropdown %>
</p>

<h2>Add a comment</h2>
<h1>Comment</h1>
 <p>Title: <input type="text" name="title"></p>
 <p>Description: <input type="text" name="description"></p><br>
 <input type="submit" value="Submit">

  
 <%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>


