<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Images:</strong>
  <%= @blog.images %>
</p>

<p>
  <strong>Dropdown:</strong>
  <%= @blog.dropdown %>
</p>


 


 

<h2>Add a comment</h2>
 <%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>


