<p id="notice"><%= notice %></p>

<h1>Comnnts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comnnts.each do |comnnt| %>
      <tr>
        <td><%= comnnt.title %></td>
        <td><%= comnnt.description %></td>
        <td><%= link_to 'Show', comnnt %></td>
        <td><%= link_to 'Edit', edit_comnnt_path(comnnt) %></td>
        <td><%= link_to 'Destroy', comnnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comnnt', new_comnnt_path %>
