<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comnnt.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comnnt.description %>
</p>

<%= link_to 'Edit', edit_comnnt_path(@comnnt) %> |
<%= link_to 'Back', comnnts_path %>
