<!-- <h1><%= link_to 'New Blog', new_blog_path %><h1 -->

<h1><Blogs></h1>
    <!-- <p>
      <h3>BlogSearch</h3> <%= text_field_tag :search, params[:search], :class => "textfield-search" %>
      <%= submit_tag "Search", :name => nil, :class => "search-button" %>
    </p>
 -->
 
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">
  <!-- <h1><%= link_to 'Create New Blog', new_blog_path %><h1> -->
<!-- Icon Bar (Sidebar - hidden on small screens) -->


<!-- Navbar on small screens (Hidden on medium and large screens) -->


<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <!-- <img src="https://www.theblogstarter.com/wp-content/uploads/2016/01/start-your-blog-4-steps.png" style="width:50%"> -->
    <h1><%= link_to 'Create New Blog', new_blog_path %><h1>
   <!--  <img src= "http://simpleeconomist.com/wp-content/uploads/2014/08/blog.jpg" style="width:50%"> -->
    <img src ="http://www.higher-education-marketing.com/uploads/Blogging.jpg" style="width:50%">
  </header>

  <!-- About Section -->
  
    
    
    <!-- Grid for pricing tables -->
    

      
    
    <!-- Testimonials -->
    
  
  <!-- Portfolio Section -->
  
  <!-- End Portfolio Section -->
  

    
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  

</body>
</html>



